<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muteme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.muteme.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.muteme.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.muteme.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.muteme.Event"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.muteme.EVENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.muteme.Screen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.muteme.SCREEN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.muteme.MyAlarmService"
            android:enabled="true" />
        <service
            android:name="com.example.muteme.MyEndService"
            android:enabled="true" />
        <service android:name="com.example.muteme.MyWifiService" android:enabled="true" />

        <receiver android:name="com.example.muteme.MyReceiver" />
        <receiver android:name="com.example.muteme.MyEnder" />
        <receiver android:name="com.example.muteme.MyWifiReceiver" />
    </application>

</manifest>